body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  padding-top: 5em;
  margin: 0 auto;
  width: 600px;
}

.todo-done {
  text-decoration: line-through;
}

.todo_update_form {
  justify-content: space-between;
  align-content: flex-start;
}

.todo_buttons {
  float: right;
}



.warning-message {
  color: #e22a2a;
  animation: blink 2s infinite; /* Параметры анимации */
}
@keyframes blink {
  from { opacity: 1; /* Непрозрачный текст */ }
  to { opacity: 0; /* Прозрачный текст */ }
}